
body{
    margin: 0px;
    font-family: " Sans", Helvetica, Arial, sans-serif;
}
@media(min-width : 200px){
    #contain{
        background-color: black;
    }
    #Nav{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.1rem;
        color: white;
        /* background-color: black; */
    }
    #corner{
        margin-left: 10px;
    }
    #buttoner{
        display: flex;
    }
    #Logo{
        display: block;
         content: url("../Images/Small_logo_cropped.png");
        max-height: 60px;
        max-width: 60px;
        margin-bottom: 1rem;
        margin-left: -1rem;
        }
    .navbuts{
        cursor: pointer;
        float: right;
        margin-top: 1rem;
        margin-left: 1rem;
        height: 2rem;
        min-width: 5rem;
        font-size: 14px;
        font-weight: 600;
    }
    #join{
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.288);
        border-radius: 5px;
        transition-duration: 0.2s;
        height: fit-content;
        padding-top: 9px;
        padding-bottom: 9px;
        padding-left: 5px;
        padding-right: 5px;
        color: white;
    }
    #join:hover{
        background-color: rgb(202, 200, 200);
    }
    #Signin{
        transition-duration: 0.2s;
        color: white;
        background-color: rgb(223, 23, 23);
        border: none;
        border-radius: 5px;
    }
    #Signin:hover{
        background-color: rgb(190, 20, 20);
    }
    #helsen{
        color: rgb(255, 255, 255);
        align-self: flex-end;
        display: block;
        /* margin-top: 1rem; */
        /* margin-left: 5px; */
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 1rem;
        text-decoration: none;
    }
    #quicklink{
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    max-width: 590px;
}
.linkcon{
    display: flex;
    vertical-align: baseline;
    align-items: center;
    border-top: 1px solid gray;
    font-weight: 500;

}
.quilin{
    font-size: 100%;
    font-weight: 700;
    padding: 1rem;
    display: list-item;
    color: black;
    list-style: none;
}
#Conprob{
    color: #221f1f;
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(34, 30, 30, 0.479); */
    width: 90%;
    max-width: 590px;
    margin-top: 5rem;
}
#tells{
    margin-top: 3rem;
    font-size: large;
}
#dainput{
    display: flex;
    border: 1px solid rgba(34, 31, 31, 0.384);
}
#speak{
    margin-left: auto;
    margin-right: auto;
    height: 2.5rem;
    outline: none;
    width: 90%;
    /* border-radius: 5px; */
    /* border: 1px solid rgba(0, 0, 0, 0.479); */
    border: none;
    padding-left: 1rem;
    font-size: 15px;
}
#arrow{
    border: none;
    font-size: 25px;
    padding: auto;
    color: rgba(34, 31, 31, 0.384);
}
#speak::placeholder{
    font-size: 17px;
}
#folin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
#folincon{
    min-height: 60vh;
    background: linear-gradient(200deg in oklab,rgb(88, 1, 1) ,black );
    margin-bottom: 0px;
}
#langdiv{
    margin-bottom: 4rem;
    margin-top: 2rem;
    /* background-color: hsl(0deg 0% 98.04%); */
}
#Langs{
    display: flex;
    color: rgb(92, 92, 92);
    border-radius: 0px;
    /* background-color: #ffffff; */
    border: 1px solid rgb(92, 92, 92);
    padding-top: 1rem;
    font-weight: bold;
    font-size: large;
    margin-left: 10px;
    width: 200px;
    height: 50px;
    transition-duration: 0.2s;
}
#Langs:focus{
    color: #ffffff;
    background-color: rgb(92, 92, 92);
}
#Langs:focus::picker-icon {
    color: #ffffff;
    background-color: rgb(92, 92, 92);
}
select,::picker-icon {
 appearance: base-select;
}
#contain{
            border-bottom:1px solid rgba(150, 150, 150, 0.288) ;

}
select::picker-icon {
    border-radius: 5px;
  color: #999;
  transition: 0.4s rotate;
}
option{
      /* Limited styles may work — but many are ignored */
    background-color: white; /* May work in Firefox */
    font-weight: normal;
    font-size: medium;
}
.folinlinks{
    position: relative;
    display: block;
    color: rgb(141, 141, 141);
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    text-decoration: none;
}
}
@media(min-width : 760px){
    #Nav{
        /* background-color: #0140c9; */
        display: flex;
        justify-content: space-around;
        height: 2;
        max-height: 6rem;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        /* padding-top: 0.2rem; */
        /* padding-bottom: 0.2rem; */
        /* justify-content: space-around; */
    }
    #corner{
        /* width: 30%; */
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        /* justify-content: baseline; */
        /* justify-content: baseline; */
        /* justify-content: space-around; */
    }
     #Logo{
        display: inline;
         content: url("../Images/Netflix-logo-cropped.png");
        max-height: 25px;
        max-width: 85px;
        margin: 0px;
        /* margin-top: 1rem; */
        padding-right: 15px;
        border-right: 1px solid rgb(92, 92, 92);
        /* margin-bottom: 1rem; */
        /* margin-left: -1rem; */
        }
        #contain{
            /* justify-content: space-between; */
        } 
          #helsen{
        color: rgb(255, 255, 255);
        /* align-self: flex-end; */
        /* display: block; */
        /* margin-top: 0rem; */
        margin-bottom: 22px;
        margin-left: 15px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    #help{
        margin-top: 4rem;
    }
    #buttoner{
        /* margin-top: auto; */
        margin-bottom: 1rem;
    }
    
}
