@import url(https://db.onlinewebfonts.com/c/ab83b275830b2d585ea027c47e3b237a?family=Graphique+W01+Regular);
@font-face {
    font-family: "Graphique W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.eot");
    src: url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/ab83b275830b2d585ea027c47e3b237a.svg#Graphique W01 Regular")format("svg");
}
 #logo:hover{
    cursor: pointer;
 }
#needhelp:hover{
    text-decoration: underline;
}
#new{
    color: rgb(167, 167, 167);
    display: inline;
}
#signup{
    color: white;
    text-decoration: none;
}
#signup:hover{
    text-decoration: underline;
}
#extra{
    /* height: 1rem; */
    margin-top:2rem;
    margin-left: 10%;
    margin-right:10% ;
}
#capcha{
    display: inline;
    color: rgb(167, 167, 167);
}
#learnmore{
    display: inline;
    color: blue;
    text-decoration: none;
}
#learnmore:hover{
    text-decoration: underline;
}
#capstuff{
    margin-top: 2rem;
}
@media(min-width: 100px){
body{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    background-color: red;
    font-family: sans-serif;
    overflow:hidden
    /* font-family: "Graphique W01 Regular"; */
    }
.Login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
 #logo{
  width: 85px;
  height: 25px;
  margin: 15px;
  /* margin-bottom: 0px; */
  /* margin-top: -20px; */
 }
.Login h1{
    /* margin-block: 0px; */
    margin-bottom: 0px;
    margin-left: 4rem;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight:900;
}

.inputter{
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    /* margin-bottom: 20px; */
    padding-left: 20px;
    height: 50px;
    border: 1px solid rgb(131, 131, 131);
    border-radius: 5px;
    width: 410px;
    color: rgb(255, 255, 255);
    /* display: block; */
    background-color: rgb(12, 12, 12);
    font-size: 15px;
}
.inputter:autofill{
    background-color: white;
    color: black;
}
.inputter::placeholder{
    color: rgb(206, 205, 205);
    padding: 2px;
    font-size: 1rem;
    font-weight:500;
}
#tosign{
        transition-duration: 0.25s;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    width:440px;
    /* display: block; */
    background-color: rgb(223, 23, 23);
    color: white;
    font-size: 15px;
    font-weight: bold;
}
#tosign:hover{
background-color: rgb(190, 20, 20);
}
#or{
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 12px;
    padding: 0px;
    color: rgb(255, 255, 255, 0.7);
}
#tousecode{
        transition-duration: 0.25s;
     margin-right: auto;
    margin-left: auto;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    height: 40px;
    border: none;
    border-radius: 5px;
    width:440px;
    background-color: rgba(170, 170, 170, 0.3);
    color: white;
    font-size: 15px;
    font-weight: bold;   
}
#needhelp{
        transition-duration: 0.25s;
    text-align: center;
    color: rgb(218, 216, 216);
    font-weight: 600 ;   
    margin: 10px;
}
#needhelp:hover{
    color: rgba(190, 190, 190, 0.822);
}
#Remember_me{
     margin-left: 10%;
    transition-duration: 0.25s;
    cursor: pointer;
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    /* float: left; */
    border: 1px solid rgba(170, 170, 170, 0.3);
    border-radius: 2px;
    /* margin-left: 15%; */
    /* background-color: rgb(224, 224, 224); */
    /* margin-right: auto; */
}
#Remember_me:checked{
 background-color: white;
 font-weight:1000 ;
 line-height: 20px;
 content: \2713;
}
#Remember_me:checked::after{
 rotate: 20deg;
 text-align: center;
content: "\2713";
display: inline-block;
color: rgb(46, 46, 46);
line-height: 10px;
font-size: 30px;
/* position: relative; */
top: -3px;
left: 5px;
}
#Remember_me:hover{
    border: 1px solid white;
    transform: scale(1,2);
}
#labe{
    padding-top: 5px;
    padding-left: 0.75rem;
    color:white;
    /* margin-bottom: 70px; */
    /* display: inline-block; */
}
#reminpt{
    display: flex;
}
#contend{
    background-color: gainsboro;
}
#end p{
    margin-left: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}
#end{
    font-size:medium;
    overflow: hidden;
    display: flex;
    flex-direction:column ;
    margin-top: 5rem;
    color: rgb(167, 167, 167);
    background-color: rgb(36, 36, 36);
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    justify-content: space-evenly;
}
.links{
    padding:5px;
    text-decoration: none;
    display: block;
    margin-left: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    width: 35%;
    position: relative;
    color: rgba(255, 255, 255, 0.7);
     background:
                linear-gradient(to right, #edf6ff 100%, transparent 0%) top,
                linear-gradient(to left, #edf6ff 100%, transparent 0%) bottom;
      background-size: 0% 2px, 0% 2px;
      background-repeat: no-repeat;
      background-position: top left, bottom right;
      transition: background-size 0.4s ease;
    }
.links:hover{
      background-size: 100% 2px, 100% 2px;
}
#continent{
    column-count: 2;
    padding-bottom: 50px;
    margin: 0px;
}
}

@media(min-width : 600px){
body{
    background-image: url(../Images/Background.jpg);
    background-attachment: fixed;
    color: whitesmoke;
    font-family: sans-serif;
    margin: 0px;
    /* overflow: hidden; */
    /* font-family: "Graphique W01 Regular"; */
    }
 #logo{
  /* width: 150px; */
  /* background-color: salmon; */
  /* margin-bottom: 0px; */
  /* margin-top: -50px; */
 }
 #logo:hover{
    cursor: pointer;
 }
.Login{
    /* position: absolute; */
    background-color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    width: 30rem;
    height: auto;
}
.Login h1{
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 4rem;
}
.inputter{
    /* margin-right: auto; */
    /* margin-left: auto; */
    /* margin-top: 15px; */
    /* margin-bottom: 20px; */
    /* padding-left: 20px; */
    height: 50px;
    line-height: 100px;
    /* border: 1px solid rgb(58, 58, 58); */
    border-radius: 5px;
    background-color: rgba(255, 217, 0, 0) ;
    width: 20rem;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
}
.inputter:autofill{
    background-color: white;
    color: black;
}
.inputter::placeholder{
    color: rgb(134, 134, 134);
    padding: 10px;
    font-size: 14px;
}
.inputter:focus{
    outline: none;
    border: 2px solid white;
}
#tosign{
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    /* margin-bottom: 10px; */
    line-height: 40px;
    height: 50px;
    border: none;
    border-radius: 5px;
    width: 22rem;
    display: block;
    background-color: rgb(255, 26, 26);
    color: white;
    /* font-size: 14px; */
}
#tosign:hover{
    background-color: rgb(221, 23, 23);
}
#tousecode{
        transition-duration: 0.25s ;
     margin-right: auto;
    margin-left: auto;
    /* margin-top: 20px; */
    margin-bottom: 10px;
    line-height: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    width:22rem;
    background-color: rgba(170, 170, 170, 0.3);
    color: white;
    font-size: 15px;
    font-weight: bold;  
     margin-right: auto;
    margin-left: auto; 
}
#Remember_me{
     margin-left: 10%;
    transition-duration: 0.25s;
    cursor: pointer;
    appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    /* float: left; */
    border-radius: 2px;
    /* margin-left: 15%; */
    background-color: rgb(0, 0, 0);
    /* margin-right: auto; */
}
#Remember_me:checked{
 background-color: rgb(224, 224, 224);
 font-weight:bolder ;
 /* line-height: 20px; */
 content: \2713;
}
#Remember_me:checked::after{
 rotate: 15deg;
content: "\2713";
display: inline-block;
color: rgb(46, 46, 46);
font-size: 11px;
position: relative;
/* top: -5px; */
/* left: 1px; */
}
#Remember_me:hover{
    transform: scale(1.1);
}
#labe{
    margin-bottom: 15px;
    color:rgb(167, 167, 167);
    /* margin-left: 1%; */
    font-size: 15px;
}
#needhelp{
    float: right;
    color: rgb(167, 167, 167);
    /* font-size: 12px; */
    text-decoration: none;
    /* margin-right: 15%; */
}
#needhelp:hover{
    text-decoration: underline;
}
#new{
    color: rgb(167, 167, 167);
    display: inline;
}
#signup{
    color: white;
    text-decoration: none;
}
#signup:hover{
    text-decoration: underline;
}
#extra{
    /* margin-top:10%; */
    margin-left: 10%;
    margin-right:10% ;
}
#capcha{
    display: inline;
    color: rgb(167, 167, 167);
}
#learnmore{
    display: inline;
    color: blue;
    text-decoration: none;
}
#learnmore:hover{
    text-decoration: underline;
}
#capstuff{
    margin-top: 1rem;
    margin-bottom: 4rem;
}
#end{
    font-size:medium;
    /* overflow: hidden; */
    display: flex;
    flex-direction:column ;
    margin-top: 5rem;
    color: rgb(167, 167, 167);
    background-color: rgb(36, 36, 36);
}
}
@media (min-width : 990px){
 #continent{
column-count: 4;
}
 #logo{
  width: 155px;
  height: 50px;
  margin: 15px;
 }
}
