 html{
    height: 100%;
    /* overflow-y: auto; */
} 

.trailervidi{
    pointer-events: none;
    position: relative;
    /* background-color: red; */
    position: relative;
    z-index: 10;
    /* height: 10000px; */
      /* opacity: 1; */
  /* transition: opacity 5s ease-in-out; */
    animation-delay: 0.5s;
    animation-name: show;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
}
 #whiten{
color: white !important;
 }
.popup-sim {
    overflow: hidden;
    position: absolute;
    /* top: 110px; */
    width: 300px;
    height: fit-content;
    background-color: rgb(24, 24, 24);
    z-index: 99999;
    border-radius: 5px; 
    display: block; 
}
.popup-sim img{
    width: 300px;
    height: 200px;
}
.popup-sim .content_discribtion{
    display: none;
}
.popup-sim iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.popup-sim.centered{
    /* position: absolute; */
    /* left: 50; */
    /* top: 100; */
}
#tryme {
    animation-delay: 0.5s;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode:forwards;
    position: relative;
    z-index: 5;
}
body{
    overflow-x: hidden;
    height: 100%;
    margin: 0px;
    font-family: " Sans", Helvetica, Arial, sans-serif;
    background-color: rgb(29, 29, 29);
}
.noscroll {
  overflow: hidden;
  /* position: fixed; */
  height: 100vh;
  backdrop-filter: blur(5px);
}

.noscroll::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100000rem;
  backdrop-filter: blur(5px);
  /* -webkit-backdrop-filter: blur(5px); */
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

@media(min-width : 200px){
#containall {
    position: relative;
    overflow: hidden;
}

#hero-trailer {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 120vw;
    height: 67.5vw; /* 16:9 ratio */

    min-width: 100%;
    min-height: 100%;

    transform: translate(-50%, -50%);
    border: none;

    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.8s ease;
}


    #contain{
        /* background-color: rgb(0, 0, 0); */
        width: 100%;
        /* margin-right: auto; */
        /* margin-left: auto; */
          /* position: absolute; */
  z-index: 1;
    }
    #Nav{
        display: flex;
        justify-content: space-around;
        /* align-items: baseline; */
        /* align-items: center; */
        /* margin-bottom: 1.1rem; */
        color: white;
        /* background-color: black; */
    }
    #Nav div{
        margin-top: 1rem;
    }
    #corner{
        /* margin-top: 20px; */
        /* margin-left: 10px; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        /* justify-content: space-around; */
    }
    #buttoner{
        display: flex;
    }
    #Logo{
        display: inline-block;
         content: url("../Images/Netflix-logo-cropped.png");
        /* max-height: 30px; */
        max-width: 60px;
        /* margin-bottom: 1rem; */
        margin-right: 5px;
        }
    .navbuts{
        cursor: pointer;
        float: right;
        /* margin-top: 1rem; */
        /* margin-left: 1rem; */
        /* height: 2rem; */
        /* min-width: 5rem; */
        font-size: 14px;
        font-weight: 600;
    }
    #join{
        background-color: transparent;
        outline: none;
        /* border: 1px solid rgba(255, 255, 255, 0.288); */
        border: none;
        border-radius: 5px;
        transition-duration: 0.2s;
        height: fit-content;
        margin-right: 10px;
        padding-top: 3px;
        /* padding-bottom: 5px; */
        padding-left: 5px;
        padding-right: 5px;
        color: white;
    }
    #join:hover{
        /* background-color: rgb(202, 200, 200); */
    }

    input[type=search]{
        display: none;
        border: none;
        outline: none;
        background-color: rgb(255, 255, 255);
        position: absolute;
        width: 7.3rem;
        margin-left: -6.3rem;
    }
    input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    }
     #join:focus input[type=search]{
     /* display: inline; */
    }
    #Signin{
        transition-duration: 0.2s;
        color: white;
        background-color: rgb(223, 23, 23);
        border: none;
        border-radius: 5px;
    }
    #Signin:hover{
        background-color: rgb(190, 20, 20);
    }
    #helsen{
        color: rgb(255, 255, 255);
        /* align-self: flex-end; */
        /* display: block; */
        /* margin-top: 1rem; */
        margin-left: 0px;
        /* font-size: 16px; */
        /* font-weight: bold; */
        /* margin-bottom: 1rem; */
        text-decoration: none;
    }
    .Navlist{
        color: white;
        /* margin: 0px; */
        margin-left: 0px;
        list-style: none;
        display: block;
        /* background-color: green; */
    }
    #droplol{
        /* margin-block-start:0px; */
        /* margin: block end 0px; */
        padding-inline-start: 0px;
        background-color: transparent;
        border-radius: 3px;
        text-align: center;
        /* display: none; */
        color: black;
        position: absolute;
        margin-top: 10px;
        /* width: 5rem; */
        
        /* overflow: hidden; */
    }
        #droplo{
        /* margin-block-start:0px; */
        /* margin: block end 0px; */
        padding-inline-start: 0px;
        background-color: transparent;
        border-radius: 3px;
        text-align: center;
        /* display: none; */
        position: absolute;
        margin-top: 10px;
        /* width: 5rem; */
        
        /* overflow: hidden; */
    }
    details{
        position: relative;
        /* display: flex; */
        margin-top: auto;
        margin-bottom: auto;
        
        /* margin-bottom:5%; */
    }
    /* details[open] ul{
        animation: dropdown 0.3s ease-out forwards;
    } */
    summary{
        list-style-type: none;
        cursor: pointer;
    }
    summary:after {
    font-family: "Font Awesome 6 Free";
    content: "\f078"; 
    font-weight: 900; 
    margin-left: 5px;
    transition-duration: 0.2s;
    /* float: right; */
    }
    #helse summary{
        /* background-color: red !important; */
        /* margin-top: -10px; */
        /* width: 10rem; */
        cursor: pointer;
    }
    #helse summary li{
        display: inline;
    }
    #helse summary img{
        margin-right: 5px;
    }
    details[open]summary:after{
    rotate: 80deg;
    }
    .animatedrop{
         animation: dropdown 0.3s ease-out forwards;
    }
    .users{
        width: 20px;
        width: 20px;
        display: inline;
        margin-right: 5px;
    }
    .userli{
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        cursor: pointer;
    }
    li{
        /* display: none; */
        margin-left: 0px;
        margin-top: 10px;
    }
    #first_movie{
        height: 90%;
        margin-top: 25%;
        /* margin-left: 1rem; */
        /* margin-bottom: auto; */
        display: flex;
        flex-direction: column;
        color: white;
        /* text-align: center; */
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 80%;
        font-weight:500;
        /* justify-content: space-around; */
        font-size: .9rem;
        /* align-self: flex-end; */
    }
    #first_movie h1{
        font-size: 2.2rem;
        text-align: center;
    }
    #movie-buttons{
        /* align-self: flex-end; */
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    #movie-buttons div{
        margin: 10px;
    }
    #conlast{
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    }
    #tocontwus a{
        color: black;
        text-decoration: none;
    }
    #tocontwus{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        outline: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(255, 255, 255);
        /* margin-left: 13%; */
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 13%; */
        padding-top: 15px;
        padding-bottom: 15px;
        width: 15rem;
        border-radius: 5px;
        max-width: 6rem;
        max-height: 3rem;

    }
    #tocontwus:before{
        content: "►";
        color: black;
        font-size: 20px;
    }
    #conlast1{
    margin-top: 3rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    }
    #tocontwus1 a{
        color: white;
        text-decoration: none;
        display: flex;
        /* margin-top: -5px; */
    }
    #tocontwus1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border: none;
        outline: none;
        color: white;
        font-size: 15px;
        font-weight: 600;
        background-color: rgb(107, 107, 107);
        /* margin-left: 13%; */
        margin-left: auto;
        margin-right: auto;
        /* margin-right: 13%; */
        padding-top: 15px;
        padding-bottom: 15px;
        width: 15rem;
        border-radius: 5px;
        max-width: 7rem;
        max-height: 3rem;
    }
    #tocontwus1:before{
        content: "\24D8";
        /* color: black; */
    }
    #allbutpop{
        display: flex;
        flex-direction: column;
          position: relative;
  z-index: 0;
        /* background-color: red; */
    }
  .housedcontent {
    z-index: 20;
    max-height: 200px;
    position: relative;
    /* height: 1000px; */
  /* margin-top: 2rem; */
}

.classification {
  color: white;
  margin-left: 3rem;
  margin-bottom: 0px;
  /* margin-top: 0px; */
  z-index: 1;
  padding-bottom: 20px;
  position: relative;
  max-height: 1px;
  /* padding-bottom: 1rem; */
}

.contentcards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  gap: 0.5rem;
  padding: 0.1rem 2rem;
  scroll-behavior: smooth;
  z-index: 5;
  height: fit-content;
}

.contentcards::-webkit-scrollbar {
  display: none;  
}
/* .thecontent{
    border-radius: 5px 5px 0px 0px;
} */
.thecontent-popular {
    /* background-color: rebeccapurple; */
  flex: 0 0 auto;
  width: 200px;
  transition: 0.3s;
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* transition:  0.3s ease; */
  z-index: 10;
  /* position: relative; */
    animation: triggerContent 3s forwards;
}
.thecontent-popular .contentdetails{}
.torank{
    /* background-color: red; */
    margin-right: 0.5rem;
    display: flex;
    /* height: fit-content; */
    /* flex-direction: row; */
    gap: 0px;
    margin-top: 10px;
    /* position: relative; */
    /* z-index: 9999; */
    /* background-color: blue; */
}
.rankings{
    /* background-color: purple !important; */
    width: 44%;
    transform: scaleY(1.5);
    margin-top: -1.5rem;
    margin-bottom: 0rem;
    display: inline;
    height: auto;
    /* height: 400px; */
    /* transform: scaleY(1.5); */
  font-size: 140px;
  font-weight: 900;
  color: black;
  z-index: 1;
  /* top: -30px; */
  /* left: -10px; */
  pointer-events: none;
  text-shadow:
    -1px -1px 0 rgb(211, 211, 211),
     1px -1px 0 rgb(211, 211, 211),
    -1px  1px 0 rgb(211, 211, 211),
     1px  1px 0 rgb(211, 211, 211),
     0px  0px 3px rgb(211, 211, 211);
}
.containrank{
height: fit-content;
display: flex;
margin-right: -2.5rem;
}
/* .thecontent-popular:focus-within {
  transform: scale(1.3);
  z-index: 99999999999;
  height: fit-content;
  background-color: rgb(255, 0, 0);
} */
.helphereplz{
  position: absolute;
  /* top: 110%; */
  /* left: 51%; */
  transform: translate(-50%, -50%);
  z-index: 9999;
 max-height: 90vh;
  overflow-y: auto;
  width: 300px;
  height: fit-content;
}
.helphereplz::-webkit-scrollbar {
  display: none; 
  appearance: none; 
}
.helphereplz .thecontent{
    background-color: rgb(128, 0, 0) !important;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
}
.helphereplz .Cardposter_popular{
    height: 40%;
}
.helphereplz iframe{
    border: none;
    outline: none;
}
.thecontent-popular:focus-within .torank{
    /* background-color: green !important; */
    /* margin-top: 2.4rem; */
}

.Cardposter_popular {
    display: flex;
    justify-content: center;
  width: 100%;
  height: 10rem;
  /* margin-top: 20px; */
  border-radius: 5px 5px 0px 0px;
   z-index: 10;
}
.Cardposter_popular-popup{
    height: 70%;
    width: 100%;
}
.contenttag_popularlist li{
    color: white;
    /* display: inline-block; */
    margin-right: 20px;
    /* color: blue; */
    list-style-type: disc !important;
}
.contenttag_popularlist li:nth-child(1){
    list-style-type: none !important;
}
.contentdetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0rem;
  /* background-color: blue !important; */
  /* background-color: rgba(44, 44, 44, 0.521); */
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  height: fit-content;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  z-index: 99999999999;
}

.moviebuttons {
  /* margin-top: 2rem; */
  display: flex;
  width: 100%;
  justify-content:start;
  gap: 2%;
  flex-direction: row;
}
.moviebuttons :nth-child(4){
    align-self: flex-end;
    margin-left: auto;
}
.testme{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: blue;
}
.containbutton {
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}

.buttoncontent {
  height: 2rem;
  width: 2rem;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 50%;
  background-color: #eeeeee00;
  color: white;
  cursor: pointer;
}
.displaymore{
  height: 2rem;
  width: 2rem;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 50%;
  background-color: #eeeeee00;
  color: white;
  cursor: pointer;   
}
.containbutton:nth-child(1) .buttoncontent{
    border: none ;
    background-color: white;
}
.containbutton:nth-child(1) i{
    color: black !important;
}
.contentdetails p{
    margin: 10px;
    color: white;
}
.contentdetails ul{
    margin: 10px;
}
.contentname{
    font-weight: bold;
}
.contentmatch{
    color: rgb(1, 175, 1) !important;
    font-weight: bold;
    font-size: 14px;
}
.contenttag_popularlist{
    padding-inline-start: 10px;
    list-style: disc;
    margin-left: 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    color: rgba(235, 235, 235, 0.822);
}
.contenttag_popular{
    display: inline-block;
    margin-top: 0px;
    margin-right: 20%;
}
/* .contenttag_popular:before{
    content: "•";
} */
 .popup-div_popular{
  /* display: none; */
  position: fixed;
  /* margin-left: 30%; */
  /* margin-right: 30%; */
  top: 5%;
  left: 3%;
  width: 95%;
  height: 90%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.9); /* dark overlay */
  z-index: 9999;
  /* padding: 2rem; */
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
 .thebin{
    background-color: red;
    z-index: -10;
 }
 .thecontent-popular:hover .popup-div_popular{
    /* display: inline; */
 }
 .Cardposter-action {
    display: flex;
    justify-content: center;
  width: 15rem;
  height: 10rem;
  /* margin-top: 20px; */
  border-radius: 5px 5px 0px 0px;
   z-index: 10;
}
 .Cardposter-toprated {
    display: flex;
    justify-content: center;
  width: 15rem;
  height: 10rem;
  /* margin-top: 20px; */
  border-radius: 5px 5px 0px 0px;
   z-index: 10;
}
.Cardposter-horror {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-trending {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-comedy {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-upcoming {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-Romance {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-Sci {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.Cardposter-Thriller {
    display: flex;
    justify-content: center;
    width: 15rem;
    height: 10rem;
    border-radius: 5px 5px 0px 0px;
    z-index: 10;
}
.contenttag_action{
    padding-inline-start: 10px;
    list-style: disc;
    margin-left: 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    color: rgba(235, 235, 235, 0.822);
}
.contenttag_Horror {
    padding-inline-start: 10px;
    list-style: disc;
    margin-left: 0px;
    font-size: 13px;
    display: flex;
    flex-direction: row;
    color: rgba(235, 235, 235, 0.822);
}

.contenttag_action li{
    color: white;
    /* display: inline-block; */
    margin-right: 20px;
    /* color: blue; */
    list-style-type: disc !important;
}
.contenttag_Horror li {
    color: white;
    margin-right: 20px;
    list-style-type: disc !important;
}

.contenttag_action li:nth-child(1){
    list-style-type: none !important;
}
.contenttag_Horror li:nth-child(1){
    list-style-type: none !important;
}
.containpost{
  position: relative;
  display: inline-block;
    width: 100%;
  height: 200px; /* match your poster/iframe height */
  overflow: hidden;
}
.nohover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent; /* invisible shield */
  pointer-events: auto; /* this blocks hover */
}
.iframe-wrapper iframe{
  width: 100%;
  height: 100%;
  border: none;
}
}
@media(min-width : 760px){
    #Nav{
        /* background-color: #0140c9; */
        display: flex;
        justify-content: space-around;
        height: 2;
        max-height: 6rem;
        max-width: 900px;
        margin-right: auto;
        margin-left: auto;
        /* padding-top: 0.2rem; */
        /* padding-bottom: 0.2rem; */
        /* justify-content: space-around; */
    }
    #corner{
        /* width: 30%; */
        margin-top: 1.5rem;
        display: flex;
        flex-direction: row;
        /* justify-content: baseline; */
        /* justify-content: baseline; */
        /* justify-content: space-around; */
    }
     #Logo{
        display: inline;
         content: url("../Images/Netflix-logo-cropped.png");
        max-height: 25px;
        max-width: 85px;
        margin: 0px;
        /* margin-top: 1rem; */
        padding-right: 15px;
        border-right: 1px solid rgb(92, 92, 92);
        /* margin-bottom: 1rem; */
        /* margin-left: -1rem; */
        }
        #contain{
            /* justify-content: space-between; */
        } 
          #helsen{
        color: rgb(255, 255, 255);
        /* align-self: flex-end; */
        /* display: block; */
        /* margin-top: 0rem; */
        margin-bottom: 22px;
        margin-left: 15px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
    }
    #help{
        margin-top: 4rem;
    }
    #buttoner{
        /* margin-top: auto; */
        margin-bottom: 1rem;
    }
    
}
@keyframes dropdown{
  from {
    /* opacity: 0; */
    height: 0;
    overflow: hidden;
  }
  to {
    /* opacity: 1; */
    height: 250px;
    overflow: hidden;
  }
}
@keyframes centered{
    from {
        top: auto;
        left: auto;
    }
    to {
        left: 40%;
        top: 40%;
    }
}
@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}